name: Java CI Pipeline

on:
  pull_request:
    branches:
      - dev
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

     
      - name: Build project and run tests
        run: mvn clean verify -Dcheckstyle.skip=true

      
      - name: Create pipeline report
        if: always()
        run: |
          mkdir report
          echo "CI Pipeline Report" > report/report.txt
          echo "Repository: $GITHUB_REPOSITORY" >> report/report.txt
          echo "Branch: $GITHUB_REF_NAME" >> report/report.txt
          echo "Commit: $GITHUB_SHA" >> report/report.txt
          echo "Status: ${{ job.status }}" >> report/report.txt

      
      - name: Upload report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pipeline-report
          path: report/report.txt

     
      - name: Send message to Telegram
        if: always()
        continue-on-error: true
        run: |
          TEXT="CI Pipeline завершён

          Репозиторий: $GITHUB_REPOSITORY
          Ветка: $GITHUB_REF_NAME
          Статус: ${{ job.status }}"

          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
            -d chat_id="${{ secrets.TELEGRAM_CHAT_ID }}" \
            --data-urlencode text="$TEXT"
